@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, lightgreen, white);
  min-height: 100vh;
}

.App-header {
  margin-top: 5%;
  display: inline-block;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.pokemon_image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-65%, 20%);
  height: 15%;
}


.crossCenter{
  background-color: #333333;
  width: 4vh;
  height: 4vh;
  position: absolute;
  transform: translate(600%, -320%);
}

.crossCircle{
  background-color: #292929;
  width: 2vh;
  height: 2vh;
  position: absolute;
  border-radius: 100%;
  transform: translate(50%, 50%);
}

.crossTop{
  background-color: #333333;
  width: 4vh;
  height: 4vh;
  position: absolute;
  border-radius: 15%;
  transform: translate(0%, -95%);
}

.crossBottom{
  background-color: #333333;
  width: 4vh;
  height: 4vh;
  position: absolute;
  border-radius: 15%;
  transform: translate(0%, 95%);
}

.crossLeft{
  background-color: #333333;
  width: 4vh;
  height: 4vh;
  position: absolute;
  border-radius: 15%;
  transform: translate(-95%, 0%);
}

.crossRight{
  background-color: #333333;
  width: 4vh;
  height: 4vh;
  position: absolute;
  border-radius: 15%;
  transform: translate(95%, 0%);
}

.inputPokemon {
  position: absolute;
  bottom: 44%;
  left: 55%;
  transform: translate(-60%, 200%);
  height: 5%;
  width: 70%;


  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
}

.pokemonDescription {
  position: absolute;
  bottom: 44%;
  left: 55%;
  transform: translate(-60%, 50%);
  height: 5%;
  width: 70%;
  color: black;
}
